body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td {
	margin:0;
	padding:0;
	font-family: "微软雅黑";
	font-size:12px/1.5;
}
i{font-style: normal;}
body{position: relative;height: 100%;}
img{border:none;}
html{flow-y:scroll;height:100%;}  
table{border-collapse: collapse;border-spacing: 0;}
em{font-style:normal}
ul, li, ol {
list-style: none;
}
ul{display:block;}
a{text-decoration: none;color: inherit;cursor:pointer;}
a.common{color:#606060}
a.common:hover{text-decoration:underline;color:#00c0ff}
/* Clear Fix */ 
.clearfix:after { content:"."; display:block; height:0; clear:both; visibility:hidden; } 
.clearfix { display:inline-block; } 
/* Hide from IE Mac */ 
.clearfix {display:block;} 
/* End hide from IE Mac */ 
/* end of clearfix */

.body-wrapper {position: relative;min-height: 100%;}

/*main head*/
.main-content-container{margin:0 auto;width:960px;min-height: 720px;}
.main-top-container{border-bottom:1px solid #d2d2d2}
.main-top{margin: 0 auto;width: 960px;}
.main-top h5{background: url(../img/avatar.png) no-repeat 0 13px;color: #47644e;float: right;line-height: 25px;text-indent: 25px;padding: 10px;padding-left: 0;font-size: 14px;}
.welcome{text-align:center;font-size: 60px;padding: 50px;letter-spacing: 10px;}
ul.steps{text-align:center;margin-left: 228px;}
ul.steps li{float:left;padding: 8px;}

li.step{}
li.step p{margin-top: 10px;line-height: 25px;}
li.process{}
#profile{text-align:center;margin-top: 100px;margin-bottom: 20px;}
#profile a{display:inline-block;background-color:#31628a;color:white;padding:20px 40px;}
.bottom{background: url(../img/bottom.png) no-repeat 0 0;height:261px;}
.footer-container{border-top:1px solid #d2d2d2}
.footer{margin:0 auto;width:960px;color:#999;font-size:12px;margin-top: 5px;margin-bottom:5px;}

.test-wrap{background-color:#313131;padding: 25px 0 20px 35px;}
.test-wrap ul{float:left;}
.test-wrap ul li{display:inline-block;font-size:16px;padding:10px;vertical-align: middle;}

.test-wrap ul li a{color:#D1D1D1;display: block;text-align: center;}
.test-wrap ul li a span{display:block;font-size: 25px;}
.test-wrap ul li.done a{color:#B3D46B;display: block;text-align: center;}
.time-cost{float:left;color:#D1D1D1;margin-left: 85px;margin-top: 10px;}
.time-cost ul li{padding:2px}
.time-cost ul li h4{font-size:32px;}
.question{margin-left:40px;margin-top: 30px;}
.question h1{font-size: 16px;}
.question ul{margin-left:20px;margin-top:15px;}
.question ul li{padding: 10px;}
.question .iradio_square-green{margin-top:-3px;}
.question label{font-size: 16px;margin-left: 10px;cursor:pointer;}
.operation{margin-top:140px;text-align:center;}
.operation .next{display:inline-block;background:url(../img/next.png) no-repeat 0 0;width:60px;height:60px;margin-left:50px;}
.operation .pre{display:inline-block;background:url(../img/pre.png) no-repeat 0 0;width:60px;height:60px;}

